/* Animations */
@keyframes updown_animation {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -15px);
  }

  100% {
    transform: translate(0, 0);
  }
}

.up-down {
  animation-name: updown_animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes bounce_animation {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0, -15px);
  }
  30% {
    transform: translate(0, -15px);
  }
  35% {
    transform: translate(0, 0);
  }
  40% {
    transform: translate(0, -3.5px);
  }
  45% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.bounce {
  animation-name: bounce_animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* Headings */

.sh1 {
  font-size: 30pt !important;

  width: 50%;

  position: relative;
  background: #7d8aff;
  color: #f2f1f1;
  text-align: center;
  padding: 1em 2em;
  margin: 2em auto 3em;

}

.sh1:before, .sh1:after{
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #5464f6;
  z-index: -1;
}

.sh1:before {
  left: -2em;
  border-right-width: 1.45em;
  border-left-color: transparent;
}

.sh1:after {
  right: -2em;
  border-left-width: 1.45em;
  border-right-color: transparent;
}

.sh1 .sh1-content:before, .sh1 .sh1-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #3d4ee2 transparent transparent transparent;
  bottom: -1em;
}

.sh1 .sh1-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}

.sh1 .sh1-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}



.sh2 {
  font-size: 20pt !important;

  width: 10%;

  position: relative;
  background: #7d8aff;
  color: #f2f1f1;
  text-align: center;
  padding: .5em 2em;
  margin: 2em auto 3em;

}

.sh2:before, .sh2:after{
  content: "";
  position: absolute;
  display: block;
  bottom: -.55em;
  border: 1.05em solid #5464f6;
  z-index: -1;
}

.sh2:before {
  left: -1.4em;
  border-right-width: .9em;
  border-left-color: transparent;
}

.sh2:after {
  right: -1.4em;
  border-left-width: .9em;
  border-right-color: transparent;
}

.sh2 .sh2-content:before, .sh2 .sh2-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #3d4ee2 transparent transparent transparent;
  bottom: -.6em;
}

.sh2 .sh2-content:before {
  left: 0;
  border-width: .6em 0 0 .6em;
}

.sh2 .sh2-content:after {
  right: 0;
  border-width: .6em .6em 0 0;
}

.non-semantic-protector { /* Must be placed in direct parent element for sh to work correctly */
  position: relative;
  z-index: 1;
}

/* Page Styling */

#header-bottom {
  width: 100%;
  height: 10%;
  float: left;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;

    border-top: 8px solid #000;
}

#arrow {
  position: absolute;
  left: 50vw;
  bottom: 2vh;
  z-index: 500;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body {
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 10rem;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  padding: 0;
}

.banner-wrapper {
  clear: both;
  background-color: white;
  height: 60px;
  max-height: 60px;
  border-top: 3px solid;
  border-color: #5464f6;
  z-index: 999;
  opacity: 0;
  position: absolute;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.content {
  float: left;
  max-width: 1300px;
  margin: 0 5%;
}

.section {
  float: left;
  width: 90%;
  margin: 0 auto;
  padding: 10% 5% 10% 5%;
  font-size: 10rem;
}

.visible {
  opacity: 1;
}

.noborder {
  border-top: 0px;
}

.nav-bar-visible {
  /*display: none;*/
  opacity: 1;
  position: fixed;
  top: 0;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav-bar-box-shadow {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.banner-wrapper a {
  float: left;
  text-decoration: none;
  font-size: 20pt;
  margin: 9px 20px 0 20px;
  height: 48.5px;
  letter-spacing: 2px;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.banner-wrapper a:hover {
  color: #999196;

  -webkit-transition: all 0.0s ease-in-out;
  -moz-transition: all 0.0s ease-in-out;
  -o-transition: all 0.0s ease-in-out;
  transition: all 0.0s ease-in-out;
}

.banner-wrapper ul {
  list-style: none;
  height: 60px;
  margin: 0;
  float: right;
}

.banner-wrapper li {
  height: 57.9px;
  float: left;
}

.active {
  border-bottom: 3px solid;
  border-color: #5464f6;
}

.font-black {
  color: black;
}

.font-white {
  color: white;
}

#logo {
   font-family: 'Raleway';
   float: left;
   font-size: 25pt;
   margin-top: 8px;
}

.header-item {
  text-align: center;
  letter-spacing: 5vw;
  padding-top: 25vh;
  padding-bottom: 0;
  height: 65%;
}

.header-item h2 {
  letter-spacing: 1vw;
  text-transform: uppercase;
  font-family: 'Raleway';
  margin-left: -4%;
}

.wrapper {
  float: left;
  width: 100%;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#header {
  height: 100vh;
  max-height: 100vh;
}

#body {
  float: left;
  width: 100%
}

#body p {
  font-size: 15pt;
  float: left;
}

.indent {
  text-indent: 2.0em;
}

#intro {
  background-color: #f2c694;
}

#school {
  background-color: #f5a2b5;
}

#diary {
  background-color: #9fd5d3;
}

#letter {
  background-color: #bbddaa;
}

/* Footer */

#footer {
  background-color: #4d4c4c;
  height: 25px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: grey;
}

#version {
  color: white;
  font-family: sans-serif;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 10pt;
}

/* Themes */

.theme-dark {
  background-color: #1f1e1e;
  color: white;
  border-color: white;
}

.theme-light {
  background-color: white;
  color: black;
}

.arrow-theme-light {
  color: black;
  border-top-color: white;
}
