.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 10px solid #000;
}

#arrow {
  position: relative;
  left: 50vw;
  top: 12%;
  z-index: 500;
}

body {
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 10rem;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  padding: 0;
}

.header-container {
  float: left;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}

.nav-bar {
  background-color: white;
  width: 100%;
  height: 60px;
  max-height: 60px;
  border-top: 3px solid;
  border-color: rgb(84, 100, 246);
  z-index: 999;
  opacity: 0;
  position: absolute;
}

.nav-bar-container {
  max-width: 1300px;
  margin: 0 auto;
}

.visible {
  opacity: 1;
}

.nav-bar-visible {
  /*display: none;*/
  opacity: 1;
  position: fixed;
  top: 0;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav-bar a {
  float: right;
  text-decoration: none;
  font-size: 20pt;
  color: black;
  margin: 9px 20px 0 20px;
  letter-spacing: 2px;
}

#logo {
   font-family: 'Raleway';
   float: left;
   font-size: 25pt;
   margin-top: 8px;
}

.item {
  float: left;
  width: 90%;
  margin: 0 auto;
  padding: 10% 5% 10% 5%;
  font-size: 10rem;
}

.header-item {
  text-align: center;
  letter-spacing: 5vw;
  padding-top: 25vh;
}

.header-item h2 {
  letter-spacing: 1vw;
  text-transform: uppercase;
  font-family: 'Raleway';
  margin-left: -4%;
}

.body-container {
  float: left;
  width: 100%
}

#intro {
  background-color: rgb(135, 235, 153);
}
